@charset "utf-8";


/* カラーリング設定 */
$bgcolor: #ccffcc;
$subcolor: #333333;
$hlcolor: rgb(28, 187, 49);


/* =========================================
 * ページ全体の設定
 * ========================================= */

/* 背景色設定 */
body {
  background-color: $bgcolor;
  /* background-image: url('background.png'); */
  /* background-repeat: repeat; */ 
  width: 100%;
  margin: 0px;
}
/* ヘッダ・フッタ色設定 */
header, footer {
  background-color: $subcolor;
  padding: 12px;
  color: #ffffff;
}
/* 全体のセンタリング */
main, #header_in, #footer_in {
  margin: 0 auto;
}

/* ヘッダタイトル設定 */
h1 {
  margin: 0px;
  padding: 15px 30px 0px;
  font-weight: normal;
  font-size: 3em;
}
h1::first-letter {
  color: $hlcolor;
}
h1 span {
  font-size: 2rem;
}

/* ヘッダ・フッタ中身設定 */
header p, footer p {
  text-align: right;
  margin: 5px;
}
header a:link, footer a:link { 
  color: lightgreen;
}
header a:visited, footer a:visited {
  color: limegreen;
}

/* サイズ調整 */
main, #header_in, #footer_in {
  width: 85%;
}
main {
  min-height: 75vh;
}
footer {
  min-height: 5vh;
}


/* ======================================
 * メニューフォーム設定
 * ===================================== */ 

#top_form {
  padding: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  width: 500px;
}

#bottom_form {
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  width: 500px;
}
#bottom_form button {
  padding: 10px 15px;
  margin: 5px;
}

// JSによるスタイル制御
label {
  color: #000;
}
label.inactive_form {
  color: #888;
}
label.active_form {
  font-weight: bold;
}


/* ======================================
 * キャンバス設定
 * ====================================== */

#canvas_wrapper {
  text-align: center;
}
canvas {
  display: inline-block;
}


/* =======================================
 *  ポップアップメニュー設定
 * ====================================== */

.popup_overlay {
  visibility: hidden;
  position: absolute;
  background-image: linear-gradient(rgba(224,224,224,0.75), rgba(160,160,160,0.75));
  border: 3px solid #333333;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 40%;
}
.popup_overlay.active {
  visibility: visible;
}
.popup_content input[type="button"] {
  padding: 5px;
  margin: 5px;
}
.popup_content textarea {
  resize: none;
}
.popup_content p {
  margin-bottom: 5px;
}

/* ファイルメニュー */
#popup_writeimg, #popup_writejson, #popup_readjson {
  width: 280px;
  height: 140px;
  left: calc(50% - 140px);
  top: 30%;
}
#popup_writeurl, #popup_readurl {
  width: 280px;
  height: 180px;
  left: calc(50% - 140px);
  top: 30%;
}

/* テキスト入力インタフェース */
#popup_itemform {
  width: 280px;
  height: 140px;
  left: calc(50% - 140px);
  top: 40%;
}
#popup_elemform {
  width: 280px;
  height: 200px;
  left: calc(50% - 140px);
  top: 40%;
}
#popup_elemform input[type="number"] {
  width: 30px;
}
#popup_subelform {
  width: 280px;
  height: 160px;
  left: calc(50% - 140px);
  top: 40%;
}